<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Inbox</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <main>
      <div class="layout">
        <div class="loader">
          <div class="robot-wrapper">
            <div class="bubble" id="errorBubble">
              <span class="bubble-text"></span>
            </div>
            <img src="./static/assets/robot.png" class="robot" />
            <img src="../static/assets/lightbulb.png" class="bulb hidden" />
          </div>
        </div>
        <div class="left-panel">
          <div class="header-container">
            <h1>Classificador Inteligente de E-mails</h1>
            <p class="subtitle">
              Envie um e-mail para classificação automática e sugestão de
              resposta.
            </p>
          </div>

          <div class="form-container">
            <form id="emailForm">
              <label>Texto do Email</label>
              <div
                id="emailText"
                class="editable-box"
                contenteditable="true"
                data-placeholder="Cole o conteúdo do email aqui ..."
              ></div>

              <div class="divider">ou</div>
              <h3>Upload de arquivo (.txt ou .pdf)</h3>

              <div class="file-input-wrapper">
                <label for="fileInput" id="fileBtn">Escolher Arquivo</label>
                <input type="file" id="fileInput" accept=".txt, .pdf" hidden />

                <div id="fileInfo" class="file-info hidden">
                  <p id="fileName"></p>
                  <button type="button" id="removeFile">✕</button>
                </div>
              </div>

              <button type="submit" id="submitBtn">Processar Email</button>
            </form>
          </div>
        </div>

        <div id="result-container" class="right-panel hidden">
          <h2>Resultado da Classificação</h2>
          <p>
            <strong>Classificação:</strong>
            <span id="classification"></span>
          </p>
          <p><strong>Resposta Sugerida:</strong></p>
          <div class="response-box" id="suggestedResponse"></div>
        </div>
      </div>
    </main>

    <script src="../static/script.js"></script>
  </body>
</html>